.confianca-container {
    display: grid;
    grid-template-columns: 25% 50%;
    gap: 0%;
    place-items: center;
}

.confianca-card {
    border-radius: 2rem;
    background: linear-gradient(45deg, transparent, blue, transparent);
    display: grid;
    place-items: center;
}

.confianca-image {
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(0deg);
    background: linear-gradient(45deg, transparent, var(--color-light), transparent);
    transition: var(--transition);
    padding: 1rem;
}

.confianca-image:hover {
    transform: rotate(10deg);
}

.nome-card {
    width: 100%;
    border-radius: 2rem;
    background: linear-gradient(85deg, transparent, var(--color-black), transparent);
    place-items: center;
    padding: 0.5rem 10rem;
}

.information-content {
    display: grid;
    gap: 0%;
    row-gap: 10%;
    margin-left: 4rem;
    margin-top: 1rem;
    grid-template-columns: 60% 30%;
    place-items: center;
}

.information-content h3 {
    width: 100%;
    border-radius: 2rem;
    color: black;
    background: var(--color-light);
    place-items: center;
    padding: 0.5rem 1rem;
}

.information-wins {
    display: grid;
    margin-top: 1rem;
    grid-template-columns: 50% 60%;
    gap: 0%;
    place-items: center;

}

.information-card{
    display: grid;
    gap: 0%;
    row-gap: 5%;
    margin-left: 4rem;
    margin-top: 1rem;
    grid-template-columns: 150% 50%;
    place-items: center;

}

.information-card h3 {
    width: 80%;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    color: black;
    background: var(--color-light);
}

.information-card h3:hover {
    background: transparent;
    border-color: var(--color-black);
    color: white;
    cursor: default;
}

.information-card > div {
    width: 50%;
}
.menu-icon {
    color: var(--color-light);
    font-size: 1.5rem;
}

@media screen and (max-width: 600px) {

    .confianca-container {
        grid-template-columns: 70%;
        gap: 3rem;
        padding: 1rem 2rem;
    }

    .information-container {
        margin-left: 6rem;
    }

    .nome-card h2 {
        font-size: 99%;
        margin-right: 1rem;
    }

    .information-content {
        font-size: 90%;
    }

    .information-wins {
        margin-right: 1rem;

    }

    .information-card {
        padding: 1rem;
        
    }

    .information-card h3 {
        font-size: 0.9rem;
    }

    .information-mobile {
        margin-right: 11rem;
        margin-bottom: 3rem;
    }

    /* IMAGEM */

    .confianca-card {
        width: 100%;
        margin-left: 5.8rem;
    }


}